h1,h2,p{
    text-align: center;
}
.menu
/*A class selector in CSS is a powerful tool for targeting and applying styles to specific HTML elements. It allows you to group elements with similar characteristics and style them efficiently.*/
{
    width: 80%;
    /*Change the width property's value to be 80%, to make it 80% the width of its parent element (body).*/
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    /*In CSS, margin-left and margin-right are properties specifically used to control the horizontal spacing of an element relative to its surrounding content. They define the margin box around the element, which creates a gap between the element's border and the content next to it (left and right sides, respectively).*/
      
}
/*You can use the id selector to target a specific element with an id attribute. An id selector is defined by placing the hash symbol # directly in front of the element's id value*/
body{
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg)
}
.flavor{
    text-align: left;
    width: 50%;
}
.item p{
    display: inline-block;
    /*all the p elements that dont behave like inline elements will be displayed inline */
}
.price{
    text-align: right;
    width: 50%;
}